body {
	font-family: Verdana;
    width: auto;
    margin:auto;
}

.btn {
	height: 40px;
	line-height: 40px;
	text-align: left;
	border-radius: 1px;
	background-color: lightgray;
	margin-bottom: 1px;
    padding-left:10px;
}

.btn_my {
    align:right;
}

.bann-nam-img {
    border-radius:40px;
    border-right-width:1px;
    border-color:white;
    width:80px;
    height:80px;
    float:left;
    margin:10px;
}

.my {
    color:orangered;
}

.btn.B5MAppControl-highlight {
	background-color: darkgray;
}

#txt_json, #txt_query {
	width : 90%;
	height: 100px;
	margin: auto;
}