body {
    font-family: Verdana;
    width: auto;
    margin:auto;
}

.cell {
    height: 60px;
    text-align: left;
    border-radius: 1px;
    background-color: lightgray;
    margin-bottom: 1px;
    padding-left:10px;
}


.btn.B5MAppControl-highlight {
    background-color: darkgray;
}

#txt_json, #txt_query {
    width : 90%;
    height: 100px;
    margin: auto;
}